.center-titles
  :is(
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .HyperMD-header.HyperMD-header-1,
    .HyperMD-header.HyperMD-header-2,
    .HyperMD-header.HyperMD-header-3,
    .HyperMD-header.HyperMD-header-4,
    .HyperMD-header.HyperMD-header-5,
    .HyperMD-header.HyperMD-header-6
  ) {
  text-align: center;
}

.center-images img {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.markdown-preview-view img {
  max-width: 100%;
}

img {
  max-width: 100%;
  border-radius: 6px;
}

.image-borders img {
  border: solid;
  /* border-width: 1em; */
  border-width: 2px;
  /* border-radius: 6px; */
  border-color: rgba(122, 122, 122, 0.2);
}

h1 {
  margin-top: 20px !important;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
